<div class="hidden">
    <span class="curr-page">{{page}}</span>
    <span class="total-pages">{{pages}}</span>
</div>

<nav class="row align-center">
    <ul class="pagination text-center" role="navigation" aria-label="Pagination">
        {{#if prev}}
            <li class="pagination-previous"><a href="{{page_url prev}}">上一页</a></li>
        {{else}}
            <li class="pagination-previous disabled">上一页</li>
        {{/if}}
        {{#if next}}
            <li class="pagination-next"><a href="{{page_url next}}">下一页</a></li>
        {{else}}
            <li class="pagination-next disabled">下一页</li>
        {{/if}}
    </ul>
</nav>
